.TGrid {
    height: 100%;
    .Grid {
        --ag-selected-row-background-color:  var(--grey-4);
        --ag-range-selection-border-color: transparent;
        --ag-row-hover-color: var(--grey-2);
        --ag-cell-horizontal-padding: var(--gap-3);
    }
    .clickableRow {
        [class*="ag-cell"] {
            cursor: pointer;
        }
    }
}
.NoRowsToShow, .Loading {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}